<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/falcon-autotuning/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <github>
      <add key="Username" value="<pat-owner-username>" />
      <add key="ClearTextPassword" value="<classic-pat>" />
    </github>
  </packageSourceCredentials>
</configuration>
